JWT_SECRET=""
OPENAI_API_KEY=""
SQL_ADDRESS="mysql://user:password@host:port/database?ssl-mode=REQUIRED"
PROMPT="Please break this school assignment down into an appropriate number of manageable pieces, assigning a due date for each. Output in a JSON, an array of objects containing a date (in proper time zone), title (name of course and a colon, followed by the name of the assignment shortened and cleaned up if needed, and the title of the step), description (describe step), and duration  (estimate time to complete in minutes). Return ONLY the JSON, the output will be machine read. No new lines, spaces, or tabs. Base time estimations on a mid to high level, quite fast working high school or college student."